
$player-control-bar-height:0.55em;
$statusbar-bg-color:lighten($dark,7%);
$progress-color:$dark;
$dark-text:darken($dark,11%);
$darkest:darken($dark,4%);


.audio-player {

  width: 63%;
  width: -webkit-calc(100% - 21em);
  width: -moz-calc(100% - 21em);
  height:$header-height;
  float:left;
  padding:0.75em 1.2em;

  opacity:0.5;
  @include transition(opacity .25s);
  &.ready { opacity:1; }
  &.preview-song {
    .statusbar {
      width:60%;
      width: -webkit-calc(100% - 11.5em);
      width: -moz-calc(100% - 11.5em);
    }
    .preview-song-indicator {
      display:inline;
      font-style:italic;
   }
  }
}


.hide-till-ready {
  opacity:0;
}
.ready .hide-till-ready { opacity:1; }

.player-metadata {
  text-decoration:none;
  color:$progress-color;
  a { color:$dark-text; }
  .song {
    color:darken($darkest,6%);
  }
  .artist {
    color:saturate(darken($progress-color,3.7%),3%);
    font-style:italic;
    @extend %no-wrap-text;
  }
}

.audio-player-title {
  float:left;
  display:block;
  width:63%;
  @extend %no-wrap-text;
  .single-album & { width: 75%; }
  font-size:0.9em;
}


.view-full-album {
  float:right;
  font-size:0.80em;
  margin-top:0.15em;
  .target { text-decoration:underline; }
  color:$progress-color!important;
}

.single-album & .target { display:none; }

.timing {
  float:right;
  position:relative;
  top:0.125em;
  font-size:75%;
  color:$progress-color;
  .progress-time {
    display: inline-block;
    width:2.4em;
  }
}

.preview-song-indicator {
  margin-right:0.5em;
  display:none;
}

.controls {
  margin:0.5em 0;

  .play-pause, .previous,.next {
    color:$progress-color;
    font-size:0.8em;
    @include breakpoint(big) {
      margin-top:0.25em;
    }
    @include breakpoint(huge) {
      margin-top:0.125em;
    }
    float:left;
    width:1.8em;
    cursor:pointer;
    &:hover {
      color:darken($progress-color,5%);
    }
  }

  .next {
    text-align:center;
  }

  .play-pause {
    font-size:1.1em;
    width:1.5em;
    padding-left:0.4em;
    margin:0;
    text-align:left;
    @include box-sizing(content-box);
    color:hsl(285, 13%, 15%);
    &:hover {
      color:darken(hsl(285, 13%, 13%),5%);
    }
  }

  .statusbar {
    float:left;
    margin-top:0.33em;
    margin-right:1%;
    margin-left:1%;
    background:$statusbar-bg-color;
    height:$player-control-bar-height;
    width:65%;
    width: -webkit-calc(100% - 8.5em);
    width: -moz-calc(100% - 8.5em);
    left:$player-control-bar-height/2;
    position:relative;
    &::after, &::before {
      content:'';
      position:absolute;
      display:block;
      width:$player-control-bar-height;
      height:$player-control-bar-height;
      border-radius:$player-control-bar-height;
    }
    &::before{
      left:-$player-control-bar-height/2;
      background:$progress-color;
    }
    &::after {
      right:-$player-control-bar-height/2;
      top:0;
      background:$statusbar-bg-color;
      z-index:1;
    }
  }



  .progress-bar, .loading {
    background-color:$progress-color;
    width:0;
    height:$player-control-bar-height;
    position:absolute;
    z-index:50;
    &::after, &::before {
      content:'';
      position:absolute;
      z-index:90;
      right:-$player-control-bar-height/2;
      display:block;
      width:$player-control-bar-height;
      height:$player-control-bar-height;
      border-radius:$player-control-bar-height;
      background:$darkest;
    }
  }

  .progress-bar::before {
    left:-$player-control-bar-height/2;
    background:$progress-color;
  }

  .loading {
    background-color:darken($dark, 2%);
    z-index:30;
    &::before { content:none;}
    &::after { background:darken($dark, 2%); z-index:30;}
  }
}


.ui-slider { position: relative; text-align: left; }
.slider { width:100%; height:2em; position:absolute; top:0; z-index:999; }
.ui-slider .ui-slider-handle {
  background:hsla(0,0,40%,0);
  position: absolute;
  z-index: 2;
  width: $player-control-bar-height;
  height: $player-control-bar-height;
  cursor: default;
  outline:none;
  border-radius:50%;

}



.slider + .handle {
  position: absolute;
  width: $player-control-bar-height;
  height: $player-control-bar-height;
  background:red;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left:0;
  z-index:2;
  border-radius:50%;
  cursor: pointer;
}
