/* Button mixins */
@mixin button($color) {
  @include button-color($color);
  text-decoration:none;
  padding:19px 20px 20px;
  display:inline-block;
  text-align:center;
  border-radius:3px;
  font-size:1em;
  cursor:pointer;
}

@mixin button-color($base_color) {
  @include background(linear-gradient(lighten($base_color, 1%), darken($base_color, 2%)));

  &:hover {
    @include background(linear-gradient(lighten($base_color , 3%), darken($base_color , 3%)));
    @include text-shadow(darken($base_color,10%));
  }
  &:active {
    @include background(linear-gradient(darken($base_color , 0.15%), $base_color));
    @include text-shadow(darken($base_color,10%));
    @include box-shadow(none);
  }
}


@mixin pill-button($base_color, $font_color) {
  background:transparentize($base_color,0.57);
  @include transition(background .2s);
  &:hover { background:transparentize($base_color,0.2); color:$font_color; }
  font-family:'Helvetica Neue', Helvetica, Arial, san-serif;
  font-size:0.75em;
  padding:0.4em 1em;
  margin-right:0.5em;
  text-transform:uppercase;
  border-radius:3px;
  color:$font_color;
  span { font-size:0.8em;}
}



/* Apply button mixin */

