
.show-main-section,
.show-sidebar {
  @include breakpoint(big) {
    float:left;
  }
}

.show-main-section {

  .show-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    right: 0;
    opacity: 0.07;
    max-height: 8em;
    overflow: hidden;
    img {
      width:100%;
    }
  }


  .show-heading {
    height:6em;
    margin-top:0.5em;
  }

  .show-headliner {
    font-size:2.2em;
    font-weight:normal;
    margin-top:0;
    margin-bottom:0.15em;
  }
  .show-supporting-bands {
    font-size:1.1em;
    font-weight:normal;
    margin:0;
  }

  .show-description {
    width:95%;
    color:$dark;
    font-size:0.95em;
    line-height:1.5em;
  }
}

.show-sidebar {
  font-size:0.9em;

  .show-rsvp {
    .icon-checkmark { display:none; }
    width:100%;
    @include transition(opacity, .2s);
    &.not-attending {
      @include button( $dark );
      padding: 19px 0 20px;
      -webkit-font-smoothing:antialiased;
      color:$cream;
    }
    &.rsvp-attending {
      padding: 19px 0 20px;
      display:inline-block;
      text-align:center;
      border-radius:3px;
      color:darken($dark,15%);
      background:transparentize($dark,0.5);
      opacity:0.7;
      .icon-checkmark {
        display:block;
        font-size:1.8em;
      }
    }
  }

  a.show-buy-tickets {
    @include button( transparentize($pink-cream,0.1) );
    width:100%;
    &, &:hover, &:active, &:visited{
      color:$dark;
    }
  }

  .venue-address {
    opacity:0.6;
    font-size:0.9em;
    line-height:1.4em;
    @extend no-wrap-text;
  }

  .price-note { 
    font-size:0.8em;
    opacity:0.7;
  }
  .show-venue a, .show-date a {
    text-decoration:underline;
    font-size:0.8em;
    &, &:hover, &:active { color:$dark; }
    opacity:0.7;
  }

  .attendees {
    // font-family:helvetica, sans-serif;
    font-size:0.85em;
    line-height:1.5em;
    color:transparentize($dark,0.25);
    .not-xparent {
      color:$dark!important;
    }
    margin-top:2.4em;
    padding-top:1em;
    border-top:solid 1px transparentize($dark,0.7);

    .facepile {
      margin-top:1em;
      width:100%;
      img {
        width:35px;
        height:35px;
        margin:0.1em;
      }

    }
  }
}

.playlist {
  .song-artist {
    font-style: italic;
    opacity:0.6;
    max-width:5px;
    display:inline-block;
    @extend no-wrap-text;
  }
}



