.group:before,
.group:after { 
  display: table; 
  line-height: 0; 
  content: ""; 
}
.group:after { clear: both;}

.pull-left { float:left; }
.pull-right { float:right; }

.bottom1 { margin-bottom: 1em; }
.pb1 { padding-bottom: 1em; }
.pb2 { padding-bottom: 2em; }
.pb2 { padding-bottom: 2em; }
.pb5 { padding-bottom: 5em; }

.top05 { margin-top: 0.5em; }
.top1 { margin-top: 1em; }
.top3 { margin-top: 3em; }
.top2 { margin-top: 2em; }

.reset-list {
  padding-left:0;
  margin:0;
  list-style:none;
  li {
    padding-left:0;
  }
}

.txtC { text-align: center; }