@import 'compass';
@import 'normalize';
@import 'utility';
@import 'breakpoints';
@import 'grid';




/* --------------------------------------------------------------------------------------- *\
  Vars
/* --------------------------------------------------------------------------------------- */

$cream: #f2e7cc;
$red: #dc5b59;
$orange: #d27f62;
$dark: #403744;
$light-on-dark:lighten($dark,30%);
$green: #468d72;
$dark:hsl(282, 11%, 23%);
  
@import 'loading';


/* --------------------------------------------------------------------------------------- *\
  HTML Base
/* --------------------------------------------------------------------------------------- */

html {
  overflow-y: scroll;
}
body, html {
  background:$dark;
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  overflow-x:hidden;
  font-size:102%;
  font-family:Georgia, serif;
  @include breakpoint(big) {
    font-size:108%;
  }
  @include breakpoint(bigger) {
    font-size:112%;
  }
  @include breakpoint(huge) {
    font-size:122%;
  }
}


/* --------------------------------------------------------------------------------------- *\
  Icon fonts
/* --------------------------------------------------------------------------------------- */

@font-face {
font-family: 'icons';
src: url('fonts/icomoon.woff') format('woff'), 
     url('fonts/icomoon.svg') format('svg'),
     url('fonts/icomoon.eot') format('eot');
}


@mixin icons {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  font-variant:normal;
  -webkit-font-smoothing:antialiased;
  font-smooth:never;
}

[data-icon]:before {
  @include icons;
  content:attr(data-icon);
}

/* --------------------------------------------------------------------------------------- *\
  Typography
/* --------------------------------------------------------------------------------------- */

%uppercase { text-transform:uppercase; }

%no-wrap-text {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}

.red, .green, .orange, .cream { color:$dark; }

ul, li {
  list-style:none;
  margin:0;
  padding:0;
}

/* --------------------------------------------------------------------------------------- *\
  Links
/* --------------------------------------------------------------------------------------- */

a {
  text-decoration: none;
  // normal, hover, active, visited, focus
  @include link-colors(
            $cream,
            lighten($cream,5%),
            darken($cream,5%),
            darken($cream,5%),
            lighten($cream,5%)
           );
}

.red a, .dark-red a {
  @include link-colors(
            desaturate(darken($red,35%),30%),
            desaturate(darken($red,35%),30%),
            desaturate(darken($red,35%),30%),
            desaturate(darken($red,35%),30%)
           );
}


/* --------------------------------------------------------------------------------------- *\
  Image abstractions
/* --------------------------------------------------------------------------------------- */

%full-image {
  height:100%;
  width:100%;
  background-size:cover;
  background-repeat:no-repeat;
}



/* ------- Layout variables ----------------------------------------------------------------- */

$header-height:4.6em;

$nav-width-mobile:15.5em;
$nav-width-big:19%;
$nav-width-bigger:17%;
$nav-width-huge:14%;

%page-width {
  width:100%;
  @include breakpoint(big){
    width:100%;
    margin:auto;
  }
  @include breakpoint(bigger){    // between 1280 and 1900
    width:80%;
    min-width:1280px;             // starts @1280  window width, ends @1600
    max-width:1920px;             // @2400 window width
  }
}

%main-width {
  width:100%;
  @include breakpoint(big) {
    position:relative;
    width:100 - $nav-width-big;
    left:$nav-width-big;
  }
  @include breakpoint(bigger) {
   width:100 - $nav-width-bigger;
   left:$nav-width-bigger;
 }
  @include breakpoint(huge) {
   width:100 - $nav-width-huge;
   left:$nav-width-huge;
 }
}

%nav-width {
  width:$nav-width-mobile;
  @include breakpoint(big) {
    float:left; 
    width:$nav-width-big;
  }
  @include breakpoint(bigger) { 
    width:$nav-width-bigger * .8;
  }
 @media (min-width:1280px) and (max-width:1600px) { // address static page-width between 1280 and 1600
    width:217.609375px;
  }
  @include breakpoint(huge) {
    width:$nav-width-huge *.8;
  }
 @media (min-width:2400px) {                                 // address static page-width above 2400
    width:268.8125px;
  }
}

%full-absolute {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}


/* --------------------------------------------------------------------------------------- *\
  Wrapper
/* --------------------------------------------------------------------------------------- */

.badracket-window {
  @extend %full-absolute;
}

.page-width {
  @extend %page-width;
  position:relative;
}

.app-main {
  padding-top:4em;
  @include breakpoint(big) {
    padding-top:$header-height;
  }
  position:relative;
  background:$dark;
}

/* background image */
.bg {
  @extend %full-image;
  display:block;
  position:fixed!important;
  top:0;
  bottom:0;
  left:0;
  right:0;
  pointer-events:none; // allow scroll when not over content
  z-index:0;
  opacity:0;
  @include transition(opacity .2s);
  @include breakpoint(big) {
    &.loaded { opacity: 0.5; }
  }
}


/* --------------------------------------------------------------------------------------- *\
  Header
/* --------------------------------------------------------------------------------------- */

header.mobile,
header.desktop {
  @extend .group;
  height:$header-height;
  top:0;
  left:0;
  right:0;
  position:fixed;
  z-index:100;
}

header.mobile {
  @include transition(left .3s  cubic-bezier(0.51,  0.01,  0.37,  0.98));
  padding:0.9em 1em 1em;
  z-index:100;
  background:$dark;
  height:4em;

  .menu, .info, .logo {
    width:2.4rem;
    height:2.4rem;
    cursor:pointer;
    display:block;
    @include transition(opacity .3s linear .28s);  // to fade out when in mobile states
  }

  .logo {
    margin:auto;
    @extend %logo-mark;
    opacity:0.75;
  }
  .info, .menu {
    color:desaturate(lighten($dark,12%),3%);
    display:inline-block;
    &:hover {
      color:desaturate(lighten($dark,21%),6%);
    }
  }
  .info {
    float:right;
    font-size:2.1em;
    text-align:right;
    margin-right:0.1em;
  }
  .menu {
    margin-top:0.2em;
    font-size:1.5em;
  }
}

%logo-mark {
 display:block;
 background:url('images/br-logo.svg');
 background-size:cover; 
 background-repeat:no-repeat;
}

header.desktop {
  background:lighten($dark,1.5%);

  .logo {
    @extend %nav-width;
    @extend %full-absolute;
    padding:0.5em;

    .logo-mark {
      height:3em;
      width:3em;
      margin-top:0.4em;
      @extend %logo-mark;
    }

  } // end .logo

  .header-bar {
    @extend %main-width;
    height:$header-height;
    padding:1em;
    @include breakpoint(big) {
      padding:1em 1em 1em 1.6em;
    }
    @include background(linear-gradient(left, desaturate(lighten($dark,6%),1%), lighten($dark,1.5%)));
  }

/* --------------------------------------------------------------------------------------- *\
  Audio Player
/* --------------------------------------------------------------------------------------- */

  @import 'audio-player';

}


/* --------------------------------------------------------------------------------------- *\
  Main Nav
/* --------------------------------------------------------------------------------------- */

nav[role="navigation"] {
  background:saturate(darken($dark,4%),1%);
  @extend %nav-width;
  position:fixed;
  height:100%;
  @include transition(opacity .3s  cubic-bezier(0.51,  0.01,  0.37,  0.98));
  @include breakpoint(big) {
    padding:0.75em;
  }
  @include breakpoint-reverso(small) {
    opacity:0;
  }
}


.nav-title, .nav-level-1 li {
  padding:0.75em 0.5em;
  @include breakpoint(big) {
    padding:0.25 0;
  }
  
}

.nav-level-1 {
  color:desaturate(lighten($dark,40%),4%);

  @include breakpoint(big) {
    border-bottom:solid 1px lighten($dark, 3%);
  }

  .nav-title { 
    font-size:.85em;
    background:darken($dark,6.5%);
    @include breakpoint(big) {
      background:none;
      font-size:1.3em; 
      padding:.5em 0;
    }
  }

  li { // sub-nav items
    opacity:0.75;
    font-size:1.2em;
    border-top:solid 1px lighten($dark, 3%);
    &:first-child { border-top:none; }
    &:last-child { border-bottom:solid 1px lighten($dark, 3%); } 
    @include breakpoint(big) {
      padding:0.2em 0;
      font-size:0.875em;
      border:none;
      &:first-child { border-top:none; }
      &:last-child { border:none; } 
    }
  }

  &.active {
    @include breakpoint(big) {
      padding-bottom:1em;
    }
  }

  @include breakpoint(big) { // only show active nav sub items
    // ul { display:none; }
    // &.active ul { display:block; }
  }
}



/* --------------------------------------------------------------------------------------- *\
  Main content
/* --------------------------------------------------------------------------------------- */

.main-content {
  @extend %main-width;
  min-height:100%;
  z-index:10;
  position:relative; // for z-index effect
}

.loading-fade {
    @extend %full-absolute;
    background:darken($dark,8%);
    @include transition(opacity 0.15s cubic-bezier(0.51,  0.01,  0.37,  0.98));
    opacity:0;
    z-index:200;
    pointer-events:none;
}



/* --------------------------------------------------------------------------------------- *\
  Page state
/* --------------------------------------------------------------------------------------- */

header.mobile,
.main-content {
  @include transition(transform .3s  cubic-bezier(0.51,  0.01,  0.37,  0.98));
}

@include breakpoint-reverso(small) {
  [data-state="nav-state"] .main-content,
  [data-state="nav-state"] header.mobile {
    @include transform(translateX($nav-width-mobile));

  }

  [data-state="nav-state"] [role="navigation"] {
    @include breakpoint-reverso(small) {
      opacity:1;
    }
  }

  [data-state="info-state"] .outer-wrapper {
    @include transform(translateX(-$nav-width-mobile));
  }
}

/* --------------------------------------------------------------------------------------- *\
  Image containing divs
/* --------------------------------------------------------------------------------------- */

.lazyload { 
  background-color:saturate(darken($dark,5%),5%);
  position:relative;
  display:block;
  position: relative;
  overflow: hidden;
  @extend %full-image;
}


/* Prevent reflow without placeholder image
http://andmag.se/2012/10/responsive-images-how-to-prevent-reflow/ */

.ratio-16-9 { padding-bottom:56.25%; /* 9/16*100 */ }
.ratio-4-3 { padding-bottom:75%; /* 3/4*100 */ }
.ratio-1-1 { padding-bottom:100%; /* ... */ }


// the placeholder on top fades out, the img doesn't fade in
.placeholder { @include transition(opacity .15s linear); pointer-events:none; } 
// when parent has class loaded, fade out placeholder
.loaded .lazyload.fade .placeholder { opacity:0; } 

.ratio-16-9 {padding-bottom:56.25%; /* 9/16*100 */ }
.ratio-4-3 {padding-bottom:75%; /* 3/4*100 */ }
.ratio-1-1 {padding-bottom:100%; /* ... */ }



/* --------------------------------------------------------------------------------------- *\
  Sections
/* --------------------------------------------------------------------------------------- */

.red { background:$red; }
.dark-red { background:desaturate(darken($red,7%),20%); }
.green { background:$green; }

section {
  -webkit-transform: translateZ(0); // kill the flash on load
  @include breakpoint(big) {
    padding:1.6em;
  }
}


/* --------------------------------------------------------------------------------------- *\
  Music section
/* --------------------------------------------------------------------------------------- */

/* 
<div class="grid album">

   <div class="album-cover playable"> 
     <div class="play"></div>
     <div class="pause"></div>
     <div class="album-cover-img lazyload fade ratio-1-1" data-src=" ... ">
     </div> 
   </div> 

   <div class="album-meta">
     <span data-icon="s" class="speaker-indicator"></span>
     <div class="album-title"> ... </div>
     <div class="artist-name"> ... </div>
   </div>

 </div>
*/

.section-subtitle {
  padding:0.75em 0 0.75em;
}


.album {
  &.loading {
    opacity:0.5;
  }
  &.playing  { background:#b55050; }                                          // a little darker red 
}

.album-cover {
  cursor:pointer;
  overflow:hidden;
  border:solid 1px $dark;
  @include breakpoint(mobile) {
    @include box-shadow(0 0 1px transparentize(black,0.2));
  }
}

.album-meta {
  font-size:75%;
  @include breakpoint(bigger) {font-size:15px;}  // intended to be non-flexy 
  padding:0.5em 0;
  position:relative;
  .playing & { color:darken($dark,5%); }

  .album-title, .artist-name {
    @extend %no-wrap-text;
    .playing & { width:80%; }
  }

  .album-title { font-weight:bold; }

  .speaker-indicator {
    position:absolute;
    z-index:100;
    top:0.25em;
    right:0;
    padding:0.5em;
    width:1.5em;
    height:1em;
    text-align:right;
    font-size:1rem;
    @include background(linear-gradient(right, #b55050, transparentize(#b55050,0.5)));
    opacity:0;
    .playing & { opacity:1; }
  }
}

.playable {
  position:relative;
  background:saturate(darken($dark,7%),10%);

  .play, .pause {
    position:absolute;
    width:100%;
    height:100%;
    z-index:10;
    pointer-events:none;
    opacity:0;
    @include transition(opacity .15s);
    @include box-shadow(0 0 1px $dark);
  }

  .play { background:url('images/play.svg') no-repeat center; }
  .pause { background:url('images/pause-circle.svg') no-repeat center; }

  &:hover {
    .lazyload { opacity:0.3; }
     .play {
       opacity: 1;
       @include transition(opacity 0s);
     }

    .playing & {
      .play { opacity:0; }
      .pause {
        @include transition(opacity 0s);
        opacity:1; 
      }
    }
  } // end :hover
} // end .playable



@import 'album-detail';





































