@import 'compass';
@import 'normalize';
@import 'utility';
@import 'breakpoints';
@import 'grid';
@import 'typography';




/* --------------------------------------------------------------------------------------- *\
  Vars
/* --------------------------------------------------------------------------------------- */

$cream: #f2e7cc;
$pink-cream: #f8ebe1;
$red: #dc5b59;
$orange: #d27f62;
$dark:hsl(282, 11%, 19%);
$light-on-dark:lighten($dark,30%);
$green: #468d72;

@import 'loading';


/* --------------------------------------------------------------------------------------- *\
  HTML Base
/* --------------------------------------------------------------------------------------- */

html {
  overflow-y: scroll;
}
body, html {
  background:$dark;
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  overflow-x:hidden;
  font-size:102%;
  font-family:Georgia, serif;
  @include breakpoint(big) {
    font-size:108%;
  }
  @include breakpoint(bigger) {
    font-size:112%;
  }
  @include breakpoint(huge) {
    font-size:122%;
  }
}

/* --------------------------------------------------------------------------------------- *\
  Icon fonts
/* --------------------------------------------------------------------------------------- */

// try again to use compass helper inline-font-files()
// http://compass-style.org/reference/compass/helpers/inline-data/#inline-font-files

@font-face {
font-family: 'icons';
src: url('fonts/icomoon.woff') format('woff'),
     url('fonts/icomoon.svg') format('svg'),
     url('fonts/icomoon.eot') format('eot');

 // src: inline-font-files('icomoon.woff', 'woff'),
 //      inline-font-files('icomoon.svg', 'svg'),
 //      inline-font-files('icomoon.eot', 'eot');
}


@mixin icons {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  font-variant:normal;
  -webkit-font-smoothing:antialiased;
  font-smooth:never;
}

[data-icon]:before {
  @include icons;
  content:attr(data-icon);
}

/* --------------------------------------------------------------------------------------- *\
  Typography
/* --------------------------------------------------------------------------------------- */

%uppercase { text-transform:uppercase; }

%no-wrap-text {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}

.red, .green, .orange, .cream { color:$dark; }

ul, li {
  list-style:none;
  margin:0;
  padding:0;
}


/* --------------------------------------------------------------------------------------- *\
  Links
/* --------------------------------------------------------------------------------------- */

a {
  text-decoration: none;
  &, &:hover, &:focus, &:visited { outline: none; }
  // normal, hover, active, visited, focus
  @include link-colors(
            $cream,
            lighten($cream,5%),
            darken($cream,5%),
            darken($cream,5%),
            lighten($cream,5%)
           );
}

.red a, .dark-red a {
  @include link-colors(
            desaturate(darken($red,35%),30%),
            desaturate(darken($red,35%),30%),
            desaturate(darken($red,35%),30%),
            desaturate(darken($red,35%),30%)
           );
}

.cream a {
  @include link-colors(
            $dark,
            desaturate(darken($dark,35%),30%),
            $dark,
            desaturate(darken($dark,35%),30%)
           );
}



/* --------------------------------------------------------------------------------------- *\
  buttons
/* --------------------------------------------------------------------------------------- */


@import 'buttons';


/* --------------------------------------------------------------------------------------- *\
  Image abstractions
/* --------------------------------------------------------------------------------------- */

%full-image {
  height:100%;
  width:100%;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}



/* ------- Layout variables ----------------------------------------------------------------- */

$header-height:4.6em;

$nav-width-mobile:15.5em;
$nav-width-big:19%;
$nav-width-bigger:17%;
$nav-width-huge:14%;

%page-width {
  width:100%;
  @include breakpoint(big){
    width:100%;
    margin:auto;
  }
  @include breakpoint(bigger){    // between 1280 and 1900
    width:80%;
    min-width:1280px;             // starts @1280  window width, ends @1600
    max-width:1920px;             // @2400 window width
  }
}

%main-width {
  width:100%;
  @include breakpoint(big) {
    position:relative;
    width:100 - $nav-width-big;
    left:$nav-width-big;
  }
  @include breakpoint(bigger) {
   width:100 - $nav-width-bigger;
   left:$nav-width-bigger;
 }
  @include breakpoint(huge) {
   width:100 - $nav-width-huge;
   left:$nav-width-huge;
 }
}

%nav-width {
  width:$nav-width-mobile;
  @include breakpoint(big) {
    float:left;
    width:$nav-width-big;
  }
  @include breakpoint(bigger) {
    width:$nav-width-bigger * .8;
  }
 @media (min-width:1280px) and (max-width:1600px) { // address static page-width between 1280 and 1600
    width:217.609375px;
  }
  @include breakpoint(huge) {
    width:$nav-width-huge *.8;
  }
 @media (min-width:2400px) {                                 // address static page-width above 2400
    width:268.8125px;
  }
}

%full-absolute {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}


/* --------------------------------------------------------------------------------------- *\
  Wrapper
/* --------------------------------------------------------------------------------------- */

.badracket-window {
  @extend %full-absolute;
}

.page-width {
  @extend %page-width;
  position:relative;
}

.app-main {
  padding-top:4em;
  @include breakpoint(big) {
    padding-top:$header-height;
  }
  position:relative;
  background:$dark;
}

/* background image */
.bg {
  @extend %full-image;
  display:block;
  position:fixed!important;
  top:0;
  bottom:0;
  left:0;
  right:0;
  pointer-events:none; // allow scroll when not over content
  z-index:0;
  opacity:0;
  @include transition(opacity .2s);
  @include breakpoint(big) {
    &.loaded { opacity: 0.5; }
  }
}


/* --------------------------------------------------------------------------------------- *\
  Header
/* --------------------------------------------------------------------------------------- */

header.mobile,
header.desktop {
  @extend .group;
  height:$header-height;
  top:0;
  left:0;
  right:0;
  position:fixed;
  z-index:100;
}

header.mobile {
  @include transition(left .3s  cubic-bezier(0.51,  0.01,  0.37,  0.98));
  padding:0.9em 1em 1em;
  z-index:100;
  background:$dark;
  height:4em;

  .menu, .info, .logo {
    width:2.4rem;
    height:2.4rem;
    cursor:pointer;
    display:block;
    @include transition(opacity .3s linear .28s);  // to fade out when in mobile states
  }

  .logo {
    margin:auto;
    @extend %logo-mark;
    opacity:0.75;
  }
  .info, .menu {
    color:desaturate(lighten($dark,12%),3%);
    display:inline-block;
    &:hover {
      color:desaturate(lighten($dark,21%),6%);
    }
  }
  .info {
    float:right;
    font-size:2.1em;
    text-align:right;
    margin-right:0.1em;
  }
  .menu {
    margin-top:0.2em;
    font-size:1.5em;
  }
}

%logo-mark {
 display:block;
 background:inline-image('br-logo.svg');
 background-size:cover;
 background-repeat:no-repeat;
}

header.desktop {
  background:lighten($dark,3%);


  .logo {
    @extend %nav-width;
    @extend %full-absolute;
    padding:0.5em;

    .logo-mark {
      height:3em;
      width:3em;
      margin-top:0.4em;
      @extend %logo-mark;
      opacity: 0;
    }

  } // end .logo

  .header-bar {
    @extend %main-width;
    height:$header-height;
    padding:1em;
    @include breakpoint(big) {
      padding:1em 1em 1em 1.6em;
    }
    @include background(linear-gradient(left, desaturate(lighten($dark,7.5%),1%), lighten($dark,3%)));

    .facebook {

      .login, .fb-user { float: right; }

      .login {
        color:darken($dark,5%);
        @include button(lighten($dark,10%));
        padding:16px 20px;
        @include box-shadow(0 1px 1px darken($dark, 3%));
        display:none;
        .fb-logged-out & { display:block; }
      }

      .fb-user {
        display:none;
        .fb-logged-in & { display:block; }
        .fb-user-name, .fb-user-picture { float:left; }
        .fb-user-name {
          padding:0.5em 0;
          display:none;
        }

        .fb-user-picture {
          box-sizing:content-box;
          margin-right:0.5em;
          border-radius:3px;
          width:2.75em;
          height:2.75em;
          @include box-shadow(0 1px 1px darken($dark,3%));
        }
      }
    } // facebook

    .support-band {
      float:left;
      .support-band-button {
        @include button(lighten($dark,10%));
        @include box-shadow(0 1px 0 $dark);
        @include text-shadow(0 1px 1px lighten($dark,12%));
        color:darken($dark,7%);
        padding:16px 19px;
      }
    }
  }


/* --------------------------------------------------------------------------------------- *\
  Audio Player
/* --------------------------------------------------------------------------------------- */

  @import 'audio-player';

}

/* --------------------------------------------------------------------------------------- *\
  Payment modal
/* --------------------------------------------------------------------------------------- */

@import 'pay-modal';

/* --------------------------------------------------------------------------------------- *\
  Main Nav
/* --------------------------------------------------------------------------------------- */

nav[role="navigation"] {
  background:saturate(darken($dark,3.7%),1%);
  @extend %nav-width;
  position:fixed;
  height:100%;
  @include transition(opacity .3s  cubic-bezier(0.51,  0.01,  0.37,  0.98));
  @include breakpoint(big) {
    padding:1em;
  }
  @include breakpoint-reverso(small) {
    opacity:0;
  }
  @include breakpoint(huge) {
    font-size:0.9em;
  }
}

.main-nav-container {
  position:relative;
}


.nav-title, .nav-level-1 li,  {
  padding:0.75em 0.5em;
  @include breakpoint(big) { padding:0.25 0; }
  a { color:desaturate(lighten($dark,60%),3% );  display:block; }
}

.nav-level-1 {
  color:desaturate(lighten($dark,20%),4%);

  @include breakpoint(big) {
    border-bottom:solid 1px lighten($dark, 1%);
  }

  .nav-title {
    @include font-stack-headline;
    font-size:.85em;
    background:darken($dark,6.5%);
    @include breakpoint(big) {
      background:none;
      font-size:1.4em;
      text-rendering:optimizelegibility;
      padding:0.4em 0;
      margin-top:0.23em;
    }
  }

  li { // sub-nav items
    position:relative;
    opacity:0.75;
    font-size:1.2em;
    border-top:solid 1px lighten($dark, 2%);
    &:first-child { border-top:none; }
    // &:before {
    //   content:'';
    //   display:block;
    //   float:left;
    //   width:1em;
    //   height:1em;
    //   background:lighten($dark,8%);
    //   margin-right:0.75em;
    //   border-radius:3px;
    // }
    .count {
      font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-rendering:optimizelegibility;
      font-size:0.65em;
      background:lighten($dark,1%);
      color:desaturate(lighten($dark,20%),2.7%);
      @include box-shadow(inset 0 1px 0 darken($dark,5.5%));
      text-shadow:0 1px 0 darken($dark,4%);
      border-radius:3px;
      padding:0.33em 0.6em 0.3em;
      position:absolute;
      right:0;
      top:0;
      // &.new::before {
      //     content:'';
      //     display:block;
      //     position:absolute;
      //     left:-1.1em;
      //     top:0.5em;
      //     width:0.65em;
      //     height:0.65em;
      //     background:$green;
      //     border-radius:50%;
      // }
    }
    &.small {
      font-size:0.65em;
      font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-rendering:optimizelegibility;
      opacity:0.2;
      margin-top:0.25em;
    }
    &:hover {
      a, .count { color:desaturate(lighten($dark,80%),3% ); }

    }
    @include breakpoint(big) {
      padding:0.2em 0;
      font-size:0.875em;
      border:none;
      &:first-child { border-top:none; }
      &:last-child { border:none; }
    }

    @include breakpoint(huge) {
      padding:0.3em 0;
    }
  }

  &.active {
    @include breakpoint(big) {
      padding-bottom:1em;
    }
  }

  @include breakpoint(big) { // only show active nav sub items
    // ul { display:none; }
    // &.active ul { display:block; }
  }
}



/* --------------------------------------------------------------------------------------- *\
  Main content
/* --------------------------------------------------------------------------------------- */

.main-content {
  @extend %main-width;
  min-height:100%;
  z-index:10;
  position:relative; // for z-index effect
}

/* --------------------------------------------------------------------------------------- *\
  Page state
/* --------------------------------------------------------------------------------------- */

header.mobile,
.main-content {
  @include transition(transform .3s  cubic-bezier(0.51,  0.01,  0.37,  0.98));
}

@include breakpoint-reverso(small) {
  [data-state="nav-state"] .modal { display:none; }
  [data-state="nav-state"] .main-content,
  [data-state="nav-state"] header.mobile {
    @include transform(translateX($nav-width-mobile));
  }

  [data-state="nav-state"] [role="navigation"] {
    @include breakpoint-reverso(small) {
      opacity:1;
    }
  }

  [data-state="info-state"] .outer-wrapper {
    @include transform(translateX(-$nav-width-mobile));
  }
}

/* --------------------------------------------------------------------------------------- *\
  Image containing divs
/* --------------------------------------------------------------------------------------- */

.lazyload {
  background-color:saturate(darken($dark,5%),5%);
  position:relative;
  display:block;
  position: relative;
  overflow: hidden;
  @extend %full-image;
}


/* Prevent reflow without placeholder image
http://andmag.se/2012/10/responsive-images-how-to-prevent-reflow/ */

.ratio-16-9 { padding-bottom:56.25%; /* 9/16*100 */ }
.ratio-4-3 { padding-bottom:75%; /* 3/4*100 */ }
.ratio-1-1 { padding-bottom:100%; /* ... */ }

.round-shadow {
  border-radius:3px;
  @include box-shadow(0 1px 1px transparentize($dark,0.25));
}



/* --------------------------------------------------------------------------------------- *\
  Sections
/* --------------------------------------------------------------------------------------- */

.red { background:$red; }
.cream { background:$cream; }
.pink-cream { background:$pink-cream; }
.dark-red { background:desaturate(darken($red,7%),20%); }
.green { background:$green; }
.orange { background:$orange; }

section {
  -webkit-transform: translateZ(0); // kill the flash on load
  @include breakpoint(big) {
    padding:1.6em;
  }
}


@mixin section-divider($bg-color, $fg-color) {
  border-top:solid 2px $fg-color;
  font-color:$fg-color;
  div {
    background:$bg-color;
    color:$fg-color;
  }
}

.pink-cream {
  .section-divider {
    @include section-divider($pink-cream, $red);
  }
}

.section-divider {
  margin-bottom:-1em;
  margin-top:2em;
  div {
    position:relative;
    top:-1.10em;
    left:0.5em;
    padding:0.5em;
    font-size:0.85em;
    display:inline-block;
  }
}

/* --------------------------------------------------------------------------------------- *\
  Music section
/* --------------------------------------------------------------------------------------- */

/*
<div class="grid album">

   <div class="album-cover playable">
     <div class="play"></div>
     <div class="pause"></div>
     <div class="album-cover-img lazyload fade ratio-1-1" data-src=" ... ">
     </div>
   </div>

   <div class="album-meta">
     <span data-icon="s" class="speaker-indicator"></span>
     <div class="album-title"> ... </div>
     <div class="artist-name"> ... </div>
   </div>

 </div>
*/

.section-subtitle {
  padding:0.75em 0 0.75em;
}


.album {
  &.loading {
    opacity:0.5;
  }
  &.playing  { background:desaturate(darken($red,6%),9%); }                    // a little darker red
}

.album-cover {
  cursor:pointer;
  overflow:hidden;
  border:solid 1px $dark;
  @include breakpoint(mobile) {
    @include box-shadow(0 0 1px transparentize(black,0.2));
  }
}

.link-to-album {
  &:hover { text-decoration:underline; color: $dark;}
}

.album-meta {
  font-size:75%;
  @include breakpoint(bigger) {font-size:15px;}  // intended to be non-flexy
  padding:0.5em 0;
  position:relative;
  .playing & { color:darken($dark,5%); }

  .album-title, .artist-name {
    @extend %no-wrap-text;
    .playing & { width:80%; }
  }

  .album-title { font-weight:bold; }

  .speaker-indicator {
    position:absolute;
    z-index:100;
    top:0.25em;
    right:0;
    padding:0.5em;
    width:1.5em;
    height:1em;
    text-align:right;
    font-size:1rem;
    @include background(linear-gradient(right, #b55050, transparentize(#b55050,0.5)));
    opacity:0;
    .playing & { opacity:1; }
  }
}

.playable {
  position:relative;
  background:saturate(darken($dark,7%),10%);
  cursor:pointer;

  .play, .pause {
    position:absolute;
    width:100%;
    height:100%;
    z-index:10;
    pointer-events:none;
    opacity:0;
    @include transition(opacity .15s);
    @include box-shadow(0 0 1px $dark);
  }

  .play { background: inline-image('play.svg') no-repeat center; }
  .pause { background: inline-image('pause-circle.svg') no-repeat center; }

  &:hover {
    .lazyload { opacity:0.3; }
     .play {
       opacity: 1;
       @include transition(opacity 0s);
     }

    .playing & {
      .play { opacity:0; }
      .pause {
        @include transition(opacity 0s);
        opacity:1;
      }
    }
  } // end :hover
} // end .playable



@import 'album-detail';
@import 'show-detail';
@import 'show-rollup';

/* --------------------------------------------------------------------------------------- *\
  Videos page
/* --------------------------------------------------------------------------------------- */

@import 'video-rollup';


/* --------------------------------------------------------------------------------------- *\
  Blog post
/* --------------------------------------------------------------------------------------- */

@import 'blog-post';
@import 'lib/bootstrap-carousel';


































