/*

$name1:  320px;
$name2:  500px;
$name3:  600px;
$name4:  992px;

@mixin at-least($device-width) {
  @media screen and (min-width: $device-width) {
    @content 
  }
}

@mixin until($device-width) {
  @media screen and (max-width: $device-width - 1) {
    @content 
  }
}

*/



@mixin breakpoint($point) {
  @if $point == huge { // if above 1280;
    @media (min-width:1900px) { @content; }
  }
  @if $point == bigger { // if above 1280;
    @media (min-width:1280px) { @content; }
  }
  @if $point == big { // if above 1024;
    @media (min-width:1023px) { @content; }
  }
  @if $point == medium { // if above 768;
    @media (min-width:768px) { @content; }
  }
  @if $point == above-mobile { // if above 480
    @media (min-width:480px) { @content; }
  }
  @if $point == mobile { // if below 480;
    @media only screen and (max-device-width : 1024px) { @content; }
  }

}


@mixin below-height($height) {
  @media screen and (max-height: $height) {
    @content;
  }
}

@mixin tablet() {
  @media (max-width : 1024px) and (min-width : 768px) { @content; }
}

@mixin breakpoint-reverso($point) {
  @if $point == small { // if below 1024;
    @media (max-width:1023px) { @content; }
  }

  @if $point == lt768 { // if below 1024;
    @media (max-width:768px) { @content; }
  }
}

.hidden-mobile { display:none; }
.hidden-phone { display:none; }
@include breakpoint(big) {
  .hidden-big { display:none; }
  .hidden-mobile { display:block; }
}

@include breakpoint(above-mobile) {
.hidden-phone { display:block; }
}

