input {
  border:0;
  border-radius:2px;
  padding:$spacing/1.4;
  @include font-stack-body;
}


input[type="text"],
input[type="email"],
input[type="password"] {
  background:desaturate(lighten($dark,15%),3);
  color:$cream;
}

input[type="submit"] {
  @include button;
}
