.gform_wrapper {

    ul, li, ol {
        list-style:none;
        &:before { content:''; margin:0; color:inherit; }
    }

    input:not([type="file"]) { @include br_inputs(); margin-bottom:0.5em; }

    input[type="file"] { font-family:georgia; font-size:80%; color:$dark; line-height:1em; margin-bottom:0.5em; }

    .inline .ginput_container, .inline { display:inline; }

    input[type="submit"] { 
        @include button($red);
        &, &:hover, &:focus {color:$pink-cream!important; }
    }

    input[type="checkbox"] { margin-right: 0.5em; }

    .gfield_description { font-size: 80%; color:$dark; }

}



.gform_wrapper .ginput_complex .ginput_left,
.gform_wrapper .ginput_complex .ginput_right,
.gform_wrapper .ginput_complex .ginput_full {
    min-height: 43px;
    display: block;
    overflow: hidden;
}

.gform_wrapper .ginput_complex .ginput_left,
.gform_wrapper .ginput_left {
    width: 50%;
    // float: left;
    display:inline-block;
    input { width:100%; }
}

.gform_wrapper .ginput_complex .ginput_right,
.gform_wrapper .ginput_right {
    width: 49%;
    // float: right;
    text-align:right;
    display:inline-block;
    input { width:100%; }
}

.gform_wrapper .ginput_complex .ginput_full {
    width:100%;
    input { width:100%; }
}


.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    margin-top: 12px;
    margin-bottom: 12px !important;
    padding-left: 10px !important;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparentize(#FF0000, 0.9);
    margin-bottom: 6px !important;
    padding: 1em 0.5em 0.5em 0.5em !important;
    display:block; // override adam's inline style
    input { @include box-shadow(none); }
}


.gform_wrapper div.validation_error {
    color: $red;
}

.gform_wrapper .validation_message {
    color: darken($red,5%);
    font-weight: bold;
    letter-spacing: normal;
}


.gform_wrapper .top_label .gfield_error {
    width: 97%;
}


.gform_wrapper.gf_browser_chrome .ginput_complex select,
.gform_wrapper.gf_browser_chrome .ginput_complex .ginput_right select {
    padding: 5px 0 5px;
    margin-bottom: 5px;
}


.gform_wrapper .ginput_complex .ginput_right input[type=text],
.gform_wrapper .ginput_complex .ginput_right input[type=url],
.gform_wrapper .ginput_complex .ginput_right input[type=email],
.gform_wrapper .ginput_complex .ginput_right input[type=tel],
.gform_wrapper .ginput_complex .ginput_right input[type=number],
.gform_wrapper .ginput_complex .ginput_right input[type=password],
.gform_wrapper .ginput_complex .ginput_right select {
    width: 95% !important;
}

.gform_wrapper .ginput_full br,
.gform_wrapper .ginput_left br,
.gform_wrapper  br,
.gform_wrapper .ginput_right br {
    display: none !important;
}

