
.single-interview {

  .post-image {
    @include breakpoint(big) {
      margin-top:-2.5em;
      margin-bottom:-2.5em;
    }
    position:relative;
    &:before {
        display:block;
        content:'';
        position:absolute;
        width:100%;
        height:100%;
        @include box-shadow(inset 0 0 75px 20px $pink-cream);
      }
  }

  h1 { text-align:center; }
  .subtitle {
    color:$red;
    text-align:center;
    margin-top:-2em;
    margin-bottom:2em;
  }

  .quote {
    font-size:1.6em;
    font-style:normal;
    line-height:1.6em;
    @include font-stack-body-italic;
    text-align:center;
    border-top:solid 1px $dark;
    border-bottom:solid 1px $dark;
    padding:0.8em 0;
    margin-bottom:1em;
  }
  .inline-player + .quote { margin-top:1em; }
  .badracket {
    color:lighten($dark,8%);
    &:before {
      content:'BR:\00a0 ';
      display:inline-block;
      font-weight:bold;
      color:$red;
    }
  }
}