/* --------------------------------------------------------------------------------------- *\
  Payment form styles
/* --------------------------------------------------------------------------------------- */

.loading-container {
  position:absolute;
  z-index:9999;
  top:0;
  bottom:0;
  right:0;
  left:0;
  text-align:center;
  padding-top:20%;
  // background:transparentize($pink-cream,0.2);
  display:none;

  .loading-messages {
    margin:1em 0;
    div {
      color:transparentize($dark,0.2);
      padding:0.5em 0;
    }
  }
}

.loading-spinner {
  display: inline-block;
  margin: auto;
  border-width: 30px;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
     -moz-animation: spin 1s linear infinite;
       -o-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  }


.style-2 {
  border-style: double;
  border-color: $dark transparent;
  }

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(359deg); }
  }

@-moz-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
  }

@-o-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
  }

@keyframes spin {
  100% {  transform: rotate(359deg); }
  }


.payment-form-wrapper {
  padding:0.5em 1.5em 0.5em 1.5em;
  position:relative;

  table {
    width:100%;
  }

  td {
    padding:0.5em 0;
  }
  &.loading {
    opacity:0.2;
    -webkit-filter: blur(3px);
    -webkit-transition:-webkit-filter 0.25s;
    @include transition(opacity,.2s);
  }
}


#buy-album-form {
  hgroup {
    padding:1em 0;
    color:darken($dark,5%);
  }
  p { color:$dark; line-height:1.4em; }

  @include breakpoint(huge) {
    font-size:80%;
  }
}


.buy-album-cover {
  width:7em;
  height:7em;
  float:left;
  margin-right:1.75em;
  border-radius:3px;
  @include box-shadow(0 1px 3px transparentize($dark,0.3));
}


.modal-header {
  h3,h4 { margin:0; line-height:1.5em; @extend %no-wrap-text; }
  h3 { font-size:1.8em; }
  h4 { font-size:1.3em; }
}


.red-button,
a.red-button {
   @include button($red);
  color:$pink-cream;
}


.submit-payment-button {
  @include button($red);
  color:$pink-cream;
  -webkit-appearance:none;
  border:none;
  &.disabled {
    background:desaturate($red,5%);
    opacity:0.5;
    pointer-events:none;
    &:after{
      display:block;
      content:'please fill out the form first';
      font-size:0.65em;
    }
  }
  .loading & {
    background:desaturate($red,5%);
    opacity:0.5;
    pointer-events:none;
  }
}

.cancel-purchase {
  cursor:pointer;
  margin-right:1em;
  color:transparentize($dark,0.5);
  border-bottom:solid 1px transparentize($dark,0.7);
  &:hover {
    color:$dark;
    border-bottom:solid 1px $dark;
  }
}



td.input-container {
  width:70%;
  input {
    border:none;
    padding:0.6em 0.7em;
    border-radius:3px;
    @include box-shadow(inset 0 1px 2px darken($pink-cream,10%));
    &:focus {
      outline:none;
    }
  }
}

td.label-container {
  width:30%;
  color:$dark;
}

.w-100 { width:100%; }















.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
  @include transition(background-color, .2s);
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.6;
}
.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: $pink-cream;

  border-radius: 6px;

  background-clip: padding-box;
  outline: none;
}
.modal.fade {
  opacity:0;
  top: 5%;
  z-index:-100;
  .modal--active & {
    opacity:1;
    z-index:9000;
  }
}
.modal.fade.in {
  top: 5%;
  opacity:1;
  z-index:1200;
}
.modal-header {
  padding: 1em;
  // border-bottom: 1px solid transparentize($dark,0.8);
  background:$red;
  border-radius:5px 5px 0 0 ;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding:1em 1.5em;
  margin-bottom: 0;
  text-align: right;
  // background-color: darken($pink-cream,10%);
  border-top: 1px solid darken($pink-cream,10%);
  border-radius: 0 0 6px 6px;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
