.photos-container {
  .loading {
    background:transparentize($dark,0.7);
    text-align:center;
    padding:4.5em 0;
    margin:0.75em;
    float:none;
    display:block;
    width:auto;
    border-radius:0.5em;
  }
}