

.post-type-archive-staff {
  h3 { font-size:1.17em; }
}

.staff-description {
  color:$dark;
  font-size:0.85em;
}

.staff-headshot {
  width:10em;
  height:10em;
}

.client-list {
  line-height:1.4em;
  margin-top:1em;
  li:before{
    content:'•';
    display:inline-block;
    width:1em;
    height:1em;
    color:transparentize($dark,0.5);
  }
}

.single-staff {
  section {
    padding-top:1em;
    padding-bottom:1em;
  }
  .pink-cream {
    .section-divider {
      @include section-divider($pink-cream, $red);
    }
  }

  h1 {
    font-size:1.8em;
    @include breakpoint-reverso(small) {
      margin-top:0;
    }
  }
  .album.playing  { background:$orange; }
  // .orange { background:darken($pink-cream,2%);}
  .pink-cream .link-to-album { color:$dark; }
  .staff-headshot {
    width:7em;
    height:7em;
  }
}

