.group:before,
.group:after {
  display: table;
  line-height: 0;
  content: "";
}
.group:after { clear: both;}

.pull-left { float:left; }
.pull-right { float:right; }

.bottom05 { margin-bottom: 0.5em; }
.bottom1 { margin-bottom: 1em; }
.bottom1-5 { margin-bottom: 1.5em; }
.bottom2 { margin-bottom: 2em; }
.bottom0 { margin-bottom: 0!important; }
.pb1 { padding-bottom: 1em; }
.pb2 { padding-bottom: 2em; }
.pb3 { padding-bottom: 3em; }
.pb5 { padding-bottom: 5em; }
.p0 { padding:0!important; }
.pt0 { padding-top: 0em!important; }
.pt1 { padding-top: 1em!important; }


.ab1 { padding-top:1em; padding-bottom:1em; }
.ab2 { padding-top:2em; padding-bottom:2em; }

.top05 { margin-top: 0.5em; }
.top0 { margin-top: 0!important; }
.top1 { margin-top: 1em; }
.top3 { margin-top: 3em; }
.top2 { margin-top: 2em; }

.border-top--cream { border-top:solid 1px darken($cream,20%); }
.border-bottom--cream { border-bottom:solid 1px darken($cream,20%); }

.mr-0 { margin-right: 0!important; }

.reset-list {
  padding-left:0;
  margin:0;
  list-style:none;
  li {
    padding-left:0;
  }
}

.txtC { text-align: center; }

.transparent {
  opacity: 0;
  @include transition(opacity, .2s);
}