.welcome-state {
  .welcome { opacity:1; }
  .welcome-button { opacity:1; }
}

.welcome {
  width:60%;
  margin:2em auto 1em;
  text-align:left;
  padding:2em;
  h1 { margin:0; }
}

.welcome-button {
  @include button($pink-cream);
  width:60%;
  z-index:999999;
}

.welcome, .welcome-button {
  opacity:0;
  @include transition(opacity .2s);
}

